.pagination {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.paginationList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.pageLink {
  text-decoration: none;
}

.disabled {
  pointer-events: none;
}

.select {
  cursor: pointer;
  user-select: none;

  color: #fff;

  background-color: var(--color-green);
  border: unset;
  border-radius: 4px;
  outline: 1px solid var(--color-outline);
}

.select option {
  color: #fff;
  background-color: var(--color-green);
}

.select option:focus {
  background-color: red;
}
