.nav {
  display: flex;
  gap: 1rem;
  margin-block-end: 2rem;
}

.tiles {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.visualAlert {
  box-shadow: 0 0 20px #10b981;
}
