:root {
  --password-strength-color-1: #ec4899;
  --password-strength-color-2: #f59e0b;
  --password-strength-color-3: #fde047;
  --password-strength-color-4: #a3e635;
  --password-strength-color-5: #4ade80;
}

.passwordInput {
  border-style: solid;
  border-block-end-width: 4px;
}

.passwordStrength1 {
  border-block-end-color: var(--password-strength-color-1);

  &:focus {
    border-block-end-color: var(--password-strength-color-1);
  }
}

.passwordStrength2 {
  border-block-end-color: var(--password-strength-color-2);

  &:focus {
    border-block-end-color: var(--password-strength-color-2);
  }
}

.passwordStrength3 {
  border-block-end-color: var(--password-strength-color-3);

  &:focus {
    border-block-end-color: var(--password-strength-color-3);
  }
}

.passwordStrength4 {
  border-block-end-color: var(--password-strength-color-4);

  &:focus {
    border-block-end-color: var(--password-strength-color-4);
  }
}

.passwordStrength5 {
  border-block-end-color: var(--password-strength-color-5);

  &:focus {
    border-block-end-color: var(--password-strength-color-5);
  }
}
