.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  max-width: 350px;
  padding: 10px;

  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 8px 8px 10px 0 #3333335c;
}

.cardHeading {
  margin: 0;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}

.cardInfo > p {
  margin: 0;
}

.cardInfo > p > span {
  font-weight: bold;
}

.closeButton {
  cursor: pointer;

  position: absolute;
  z-index: 10;
  top: 2px;
  right: 2px;

  color: #fff;

  background-color: var(--color-danger);
  border: unset;
  border-radius: 2px;

  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: opacity(0.8);
  }
}
