:root {
  --primary-text-color: #eee;
  --form-label-color: #ccc;
  --form-error-color: #fca5a5;
  --input-border-color: rgb(0 0 0 / 25%);
  --input-border-focus-color: #1976d2;
  --fieldset-border-color: rgba(255 255 255 / 25%);
  --vaporwave-color1: #2b1165;
  --vaporwave-color2: #1a3a82;
  --vaporwave-color3: #ab24b1;
  --vaporwave-color4: #f54171;
  --link-color: #ffe2fe;
  --link-hover-color: #c4adc3;
  --autocomplete-selection-bg-color: var(--vaporwave-color3);
}

body {
  min-height: 100vh;
  color: var(--primary-text-color);
  background: linear-gradient(
    180deg,
    var(--vaporwave-color1) 0%,
    var(--vaporwave-color2) 37%,
    var(--vaporwave-color3) 69%,
    var(--vaporwave-color4) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
}

a {
  color: var(--link-color);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--link-hover-color);
  }
}

img {
  shape-margin: 0.75rem;

  max-width: 100%;
  height: auto;

  font-style: italic;
  vertical-align: middle;

  background-repeat: no-repeat;
  background-size: cover;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border: 2px solid var(--fieldset-border-color);
  border-radius: 4px;
}

button[type='submit'] {
  cursor: pointer;

  font-family: 'Exo 2', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--vaporwave-color4);
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  background-color: var(--vaporwave-color1);
  border: unset;
  border-radius: 4px;

  transition: filter 0.3s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    filter: drop-shadow(0 0 10px var(--vaporwave-color4));
  }
}

input {
  padding: 4px 6px;
  accent-color: var(--vaporwave-color4);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  &:focus {
    border-color: var(--input-border-focus-color);
    outline: 2px solid var(--input-border-focus-color);
  }
}

input[type='file'] {
  border-color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-width: 32rem;
  padding: 20px;

  background-color: rgba(0 0 0 / 30%);
  border-radius: 8px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.form-label {
  margin-block-end: 2px;
  font-size: 0.8rem;
  color: var(--form-label-color);
}

.form-errors {
  min-height: 18px;
}

.form-error {
  margin: 0;
  margin-block-start: 5px;
  font-size: 0.7rem;
  color: var(--form-error-color);
}
