@import url('node_modules/modern-normalize/modern-normalize.css');

:root {
  --color-green: #14ae5c;
  --color-lightgreen: #e4f5eb;
  --color-danger: #ed143d;
  --primary-text: #15141a;
  --color-outline: #8e8cea;
}

body {
  color: var(--primary-text);
}

#root {
  display: grid;
  grid-template-rows: min-content;
  gap: 10px;

  min-height: 100vh;

  background-color: var(--color-lightgreen);
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  border: unset;
  border-radius: 5px;

  &:focus {
    outline: var(--color-outline) 2px solid;
  }
}

.feather {
  width: 24px;
  height: 24px;

  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
